
*{
    font-family: 'Ubuntu', sans-serif;
    margin:0;
    padding:0;
  }

nav {
background-color:purple;
}
  ul li {
display:inline-block;
}

li a {
    color:white;
}

li a: hover{
    background-color:white;
    color:purple;
}
